<% if flash.present? %>
<div id='flash_message'>
  <%= flash[:notice] %>
</div>
<% end %>

<p>
  <strong>Title</strong> : <%= @article.title %>
</p>
<p>
  <strong>Text</strong> : <%= @article.text %>
</p>

<%= link_to "Articles", articles_path %>